.nav{
    display: flex;
    justify-content: space-around;

}

.nav{
    border: 2PX solid black;
    padding: 10px 20px;
    border-radius: 5px;
    border-left: none;
    border-right: none;
}


.images{
    display: flex;
    justify-content: center;
    margin: 10px 0px;
    gap: 20px;
}


*{
    margin: 0;
}
