
.navB img{
    width: 200px;
}
*{
    padding: 0%;
    
}
.second img {
    float: right;
    margin-left: 20px;
    width: 30%;
}

.navB .Heading{
    font-size: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}

.card {
    width: 25%;
    border: 3px solid black;
    padding: 15px;
    background-color: white;

    border-radius: 20px;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;

    border-radius: 20px;
}

.card p {
    margin: 10px 0;
}

.card button {
    margin-top: 10px;
    width: 100%;
}



.navB {
    display: flex;
    justify-content: center;
    gap: 5%;
    height: 50px;
    align-items: center;
    background-color: rgb(71, 71, 71); 
    color: white;
    
}



button{
    background-color: black;
    color: aliceblue;
    padding: 15px;
    border-radius: 25px;
}

.last{
    background-color: rgb(67, 67, 67);
    color: white;
}