body{
    background: rgb(255, 209, 94);
    font-family: Arial;
}

body h1{
    text-align: center;
    text-decoration: underline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(43, 0, 255);
    background-color: rgb(255, 209, 94);
    text-align: center;
    font-size: 48px;
    color: #000000;
    text-shadow: 2px 2px 5px rgb(162, 148, 255);
}
.cards{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 80px;
}

.card{
    background-color: aqua;
    width: 230px;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
}

.card img{
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    border-radius: 15px;
}

.tilt {
    transform: rotate(-5deg);
}

.card h3{
    margin: 10px 0;
}

.card p{
    font-size: 14px;
}

.card button{
    margin-top: 10px;
    padding: 8px 15px;
    border: none;
    border-radius: 20px;
    background: black;
    color: white;
    cursor: pointer;
}

.center{
    background-color: whitesmoke;
    transform: scale(1.05);
}

.pink{
    background: rgb(255, 54, 87);
}